{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('../modules/mpapityres/views/assets/components/sweetalert/sweetalert2.min.css') }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ asset('../modules/mpapityres/views/assets/css/style.css') }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ asset('../modules/mpapityres/views/assets/components/select2/select2.min.css') }}" type="text/css" media="all">
	<link rel="stylesheet" href="{{ asset('../modules/mpapityres/views/assets/components/select2/select2.bs4-theme.min.css') }}" type="text/css" media="all">
{% endblock %}

{% block content %}
	{% include "@Modules/mpapityres/views/twig/AdminMpApiTyres/page/toolbar.html.twig" %}
	<div class="container-fluid" id="page-container"></div>
	{% include "@Modules/mpapityres/views/twig/Dialog/progressBar.html.twig" %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('../modules/mpapityres/views/assets/components/select2/select2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('../modules/mpapityres/views/assets/components/sweetalert/sweetalert2.min.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
		/** URL GENERALE CHE GESTISCE I PARAMETRI ACTION E PARAMS **/
const AdminControllerUrl = "{{ path('mpapityres_admin_index') }}";
const AdminControllerImportCatalogFromTableUrl = "{{ path('mpapityres_admin_import_catalog_from_table') }}";
const AdminControllerDownloadCatalogApiUrl = "{{ path('mpapityres_admin_download_catalog_api') }}";


/** URL SPECIFICHE PER OGNI AZIONE **/
const AdminControllerGetFiltersJsonUrl = "{{ path('mpapityres_admin_get_filters_json') }}";
const AdminControllerChunkCsvToJsonUrl = "{{ path('mpapityres_admin_chunk_csv_to_json') }}";
const AdminControllerLoadPageUrl = "{{ path('mpapityres_admin_load_page') }}";
const AdminControllerReadCsvUrl = "{{ path('mpapityres_admin_read_csv') }}";
const AdminControllerDownloadJsonUrl = "{{ path('mpapityres_admin_download_json') }}";
const AdminControllerReadJsonUrl = "{{ path('mpapityres_admin_read_json') }}";
const AdminControllerImportJsonUrl = "{{ path('mpapityres_admin_import_json') }}";
const AdminControllerImportChunksUrl = "{{ path('mpapityres_admin_import_chunks') }}";
const AdminControllerImportFromChunkUrl = "{{ path('mpapityres_admin_import_from_chunk') }}";
const AdminControllerImportChunkPartUrl = "{{ path('mpapityres_admin_import_chunk_part') }}";
const AdminControllerDeleteDuplicateProductsUrl = "{{ path('mpapityres_admin_delete_duplicate_products') }}";
const AdminControllerDownloadCatalogUrl = "{{ path('mpapityres_admin_download_catalog') }}";
const AdminControllerDashboardUrl = "{{ path('mpapityres_admin_dashboard') }}";
const AdminControllerCreateFeaturesUrl = "{{ path('mpapityres_admin_create_features') }}";
const AdminControllerUpdateCatalogUrl = "{{ path('mpapityres_admin_update_catalog') }}";
const AdminControllerUpdateCatalogPartUrl = "{{ path('mpapityres_admin_update_catalog_part') }}";
const AdminControllerDownloadImagesUrl = "{{ path('mpapityres_admin_download_images') }}";
const AdminControllerUpdateTyreTablesUrl = "{{ path('mpapityres_admin_update_tyre_tables') }}";
const AdminControllerSetSuppliersUrl = "{{ path('mpapityres_admin_set_suppliers') }}";
const AdminControllerDownloadApiUrl = "{{ path('mpapityres_admin_download_api') }}";
const AdminControllerImportChunkTyresUrl = "{{ path('mpapityres_admin_import_chunk_tyres') }}";
const AdminControllerDownloadFileUrl = "{{ path('mpapityres_admin_download_file') }}";
	</script>
	<script src="{{ asset('../modules/mpapityres/views/assets/js/Controllers/AdminMpApiTyres/fetchTyresDialog.js') }}" type="text/javascript"></script>
	<script src="{{ asset('../modules/mpapityres/views/assets/js/Controllers/AdminMpApiTyres/downloadCatalog.js') }}" type="text/javascript"></script>
	<script src="{{ asset('../modules/mpapityres/views/assets/js/Controllers/AdminMpApiTyres/fetchDistributorList.js') }}" type="text/javascript"></script>
	<script src="{{ asset('../modules/mpapityres/views/assets/js/Controllers/AdminMpApiTyres/importCatalog.js') }}" type="text/javascript"></script>
	<script src="{{ asset('../modules/mpapityres/views/assets/js/Controllers/AdminMpApiTyres/script.js') }}" type="text/javascript"></script>
{% endblock %}
